@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset !important;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}


/* .text-border {
    text-shadow: 
      -1px -1px 0 #16F1D1,  
       1px -1px 0 #16F1D1,
      -1px  1px 0 #16F1D1,
       1px  1px 0 #16F1D1;
  } */

.text-border {
    color: transparent;
    -webkit-text-stroke: 2px #16F1D1;
}

.text-border-none {
    color: transparent;
    -webkit-text-stroke: 2px transparent;
  }

  @keyframes scale-easeOutElastic {
    0% {
      transform: scale(1);
    }
  
    16% {
      transform: scale(-0.32);
    }
  
    28% {
      transform: scale(0.13);
    }
  
    44% {
      transform: scale(-0.05);
    }
  
    59% {
      transform: scale(0.02);
    }
  
    73% {
      transform: scale(-0.01);
    }
  
    88% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(0);
    }
  
  }

  @keyframes undefined-easeOutElastic {
    0% {
      transform: translateX(0%);
    }
  
    16% {
      transform: translateX(-132.27%);
    }
  
    28% {
      transform: translateX(-86.88%);
    }
  
    44% {
      transform: translateX(-104.63%);
    }
  
    59% {
      transform: translateX(-98.36%);
    }
  
    73% {
      transform: translateX(-100.58%);
    }
  
    88% {
      transform: translateX(-99.8%);
    }
  
    100% {
      transform: translateX(-100%);
    }
  
  }
  .animated-character {
    animation: undefined-easeOutElastic 1s forwards;
  }

  @keyframes opacity-easeOutElastic {
    0% {
      opacity: 1;
    }
  
    16% {
      opacity: -0.32;
    }
  
    28% {
      opacity: 0.13;
    }
  
    44% {
      opacity: -0.05;
    }
  
    59% {
      opacity: 0.02;
    }
  
    73% {
      opacity: -0.01;
    }
  
    88% {
      opacity: 0;
    }
  
    100% {
      opacity: 0;
    }
  
  }
